html,
body,
div,
ul,
li,
a,
table,
thead,
tbody,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

body {
    color: #000000;
    font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
    font-size: 16px;
}

    body #wrapper {
        width: 960px;
        border: 1px solid;
        height: 250px;
        width: 350px;
    }

ul.tab-strip > li {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
    background: -o-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, #aaaaaa 100%);
    border:1px solid;
    
}

ul.tab-strip {
    display: inline-block;
    position: relative;

}

    ul.tab-strip ul {
        display: block;
    }

.tab-strip li .tab-content {
    display: none;
    position: absolute;
    top: 30px;
    left: 15px;
    margin-top: 10px;
    width: 330px;
}

.tab-strip {
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
}

li.current .tab-content {
    display: block;
}

ul.tab-strip > li .tab-content ul li ul {
    margin-left: 25px;
    list-style-type: lower-alpha;
}

.tab-strip > li .tab-content ul {
    list-style-type: disc;
}
a.tab-btn {
    font-size:25px;
    text-decoration:none;
    color:black;
}
