body {
  background-image: url("images/background.jpg"); }
  body nav {
    width: 1300px;
    margin-left: 0px;
    -webkit-box-shadow: 0 8px 6px -6px white;
    -moz-box-shadow: 0 8px 6px -6px white;
    box-shadow: 0 8px 6px -6px white; }
    body nav ul {
      list-style-type: none;
      margin: 0; }
      body nav ul li {
        display: inline; }
        body nav ul li img {
          width: 200px;
          height: 150px;
          border-radius: 6px;
          opacity: 0.6; }
          body nav ul li img:hover {
            box-shadow: 1px 10px 10px -4px #fff;
            opacity: 1; }
  body .pickedpicture {
    width: 520px;
    margin-left: 40px;
    margin-top: 50px; }
    body .pickedpicture .image {
      display: none; }
    body .pickedpicture input:checked + .image {
      display: block;
      width: 900px;
      height: 600px;
      -webkit-box-shadow: 0px 0px 60px 0px white;
      -moz-box-shadow: 0px 0px 60px 0px white;
      box-shadow: 0px 0px 60px 0px white; }
  body input {
    display: none; }

