body,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 22px;
    text-align: center;
}

#wrapper {
    width: 300px;
    border-radius: 10px;
    border: 1px solid;
    background: #aaaaaa;
    background: -moz-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
    background: -webkit-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
    background: -o-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, #aaaaaa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#aaaaaa', GradientType=0);
}

ul li {
    list-style-type: none;
    margin-bottom: 6px;
}

li.me-item {
    margin-left: 80px;
    border: 1px solid;
    border-radius: 12px;
    margin-right: 15px;
    padding-left: 10px;
    background: #c1faff;
    background: -moz-linear-gradient(top, #28edff 0%, #c1faff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #28edff), color-stop(100%, #c1faff));
    background: -webkit-linear-gradient(top, #28edff 0%, #c1faff 100%);
    background: -o-linear-gradient(top, #28edff 0%, #c1faff 100%);
    background: -ms-linear-gradient(top, #28edff 0%, #c1faff 100%);
    background: linear-gradient(to bottom, #28edff 0%, #c1faff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28edff', endColorstr='#c1faff', GradientType=0);
}

li.toshko-item {
    margin-left: 15px;
    border: 1px solid;
    border-radius: 12px;
    width: 170px;
    padding-left: 10px;
    background: #6fff3a;
    background: -moz-linear-gradient(top, #dfffd3 0%, #6fff3a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfffd3), color-stop(100%, #6fff3a));
    background: -webkit-linear-gradient(top, #dfffd3 0%, #6fff3a 100%);
    background: -o-linear-gradient(top, #dfffd3 0%, #6fff3a 100%);
    background: -ms-linear-gradient(top, #dfffd3 0%, #6fff3a 100%);
    background: linear-gradient(to bottom, #dfffd3 0%, #6fff3a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfffd3', endColorstr='#6fff3a', GradientType=0);
}

    li.toshko-item span:first-child {
        margin-left: 120px;
        font-weight: bold;
    }

li.me-item .date {
    margin-left: 60px;
}

li.me-item span:first-child {
    font-weight: bold;
}

span,
p {
    margin: 0;
}

button {
    font-size: 18px;
    border-radius: 8px;
    padding: 5px;
    width: 70px;
}

input {
    margin-left: 18px;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
    width: 190px;
}
