ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul li {
        color: black;
        font-size: 18px;
        border-bottom: 1px solid;
        border-color: purple;
        background-color: #be5ace;
        width:130px;
        padding:10px;
    }
        ul li:hover {
            border:1px solid;
            border-radius:6px;
        }

        ul li ul {
            display: none;
            margin: 0;
        }

            ul li ul li:first-child {
                background-image: url('imgs/arrow.png');
                background-repeat: no-repeat;
                background-position-y:center;
                padding-left: 25px;
            }
            ul li ul li {
                padding-left: 25px;
                width:180px;
            }
                ul li ul li:hover {
                    border:1px solid;
                    border-radius:6px;
                }

        ul li:hover ul {
            display: inline-block;
            padding-left: 10px;
            position: fixed;
        }

a {
    text-decoration: none;
    color: black;
}

#wrapper {
    border-radius: 10px;
}

aside {
    background-color:#be5ace;
    padding:8px;
    width:160px;
}

ul.sidebar li {
    padding-bottom: 5px;
}
