body {
   background-color:black;
   font-family:Arial;
   font-size:15px;
}
* {
    margin:0;
    padding:0;
}
aside {
    background-color:#063e4e;
    border-radius:8px;
    height:300px;
    width:700px;
}
header {
    margin-top:10px;
    background-color:#063e4e;
}
ul {
    background-color:#063e4e;
    border-top-right-radius:8px;
}
ul li {
    display:inline-block;
    padding:8px;
    color:#89bbb5;
    background-color:rgba(120, 104, 104, 0.53);
}
    ul li:hover {
        background-color:#063e4e;
        cursor:pointer;
        color:white;
        text-decoration:underline;
    }

td {
    width:280px;
    padding-bottom:10px;
    padding-top:10px;  
    color:lightgray;
}
    td:hover {
        background-color:#28aa92;
        cursor:pointer;
        color:white;
    }
section {
    margin-top:10px;
    float:left;
    background-color:#063e4e;
}
figure {
    margin-top:10px;
    float:left;
}
table td{
    border-top:1px solid #808080;
    padding:10px;
}
table {
    border-collapse:collapse;
}


