body {
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

    ul li {
        color: black;
        font-size: 15px;
    }

        ul li ul {
            display: none;
            padding: 0;
            margin: 0;
        }

        ul li:hover > ul {
            display: block;
            padding-left: 20px;
        }

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
